<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<body>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="contenido">
      <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
          <!-- Masthead Heading -->
          <h1 class="masthead-heading text-uppercase mb-0">ASIGNAR TIPO DE ACTIVIDAD</h1>

          <!-- Icon Divider -->
          <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
              <i class="fa fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
          </div>
        </div>
      </header>
      <br>
      <!-- FORMATO-->

      <div class="row">
        <div class="col-lg-8 mx-auto">
          <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
          <div class="form-row">
            <div class="col">
              <div class="control-group">
                <div class="form-group">
                  <label>Identificación:</label>
                  <input [(ngModel)]="docente.identificacion" formControlName="identificacion" class="form-control"
                    type="number" (blur)="buscarCliente()" (dblclick)="openModalCliente()"
                    [ngClass]="{ 'is-invalid': f.identificacion.errors }" />
                  <div *ngIf="submitted && f.identificacion.errors" class="invalid-feedback">
                    <div *ngIf="f.identificacion.errors.required">Identificación es
                      requerida
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="control-group">
                <label>Consulta:</label>
                <br>
                <button class="btn btn-primary" type="button" (click)="openModalCliente()">...</button>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <div class="control-group">
                <div class="form-group">
                  <label>Primer Nombre:</label>
                  <input readonly formControlName="primer_Nombre" class="form-control" type="text"
                    [(ngModel)]="docente.primer_Nombre" />
                </div>
              </div>
            </div>
            <div class="col">
              <div class="control-group">
                <div class="form-group">
                  <label>Segundo Nombre:</label>
                  <input class="form-control" readonly formControlName="segundo_Nombre" type="text"
                    [(ngModel)]="docente.segundo_Nombre" />
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <div class="control-group">
                <div class="form-group">
                  <label>Primer Apellido:</label>
                  <input class="form-control" readonly formControlName="primer_Apellido" type="text"
                    [(ngModel)]="docente.primer_Apellido" />
                </div>
              </div>
            </div>
            <div class="col">
              <div class="control-group">
                <div class="control-group">
                  <div class="form-group">
                    <label>Teléfono:</label>
                    <input class="form-control" readonly formControlName="telefono" type="number"
                      [(ngModel)]="docente.telefono" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label>Email:</label>
                <input class="form-control" readonly formControlName="email" type="text" [(ngModel)]="docente.email" />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>Tipo Docente:</label>
                <input class="form-control" readonly formControlName="tipo_Docente" type="text"
                  [(ngModel)]="docente.tipo_Docente" />
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <div class="control-group">
                <div class="form-group">
                  <label>Tipo de Actividad:</label>
                  <br>
                  <select  id="referencia" name="referencia" formControlName="tipo_Actividad"
                    [(ngModel)]="actividadAsignada.nombre_Actividad">
                    <option value="TUTORÍAS">TUTORÍAS</option>
                    <option value="INVESTIGACIÓN">INVESTIGACIÓN</option>
                    <option value="EXTENCIÓN">EXTENCIÓN</option>
                    <option value="MATERIAL DE APOYO">MATERIAL DE APOYO</option>
                    <option value="TRABAJO DE GRADO">TRABAJO DE GRADO</option>
                    <option value="COOPERACIÓN INTERINSTITUCIONAL">COOPERACIÓN INTERINSTITUCIONAL
                    </option>
                    <option value="CRECIMIENTO PROFESIONAL">CRECIMIENTO PROFESIONAL</option>
                    <option value="ENCARGO ADMINISTRATIVO">ENCARGO ADMINISTRATIVO</option>
                    <!--(change)="mostrarTipoA()"
                      <option selected="selected">
                      Seleccione...
                    </option>
                    <option *ngFor="let p of tipoActividad" [value]="p.cod_TipoActividad">{{p.nombre_Actividad}}
                    </option>
                    -->
                    
                  </select>
                </div>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group">
                <label>Horas</label>
                <input class="form-control" formControlName="hora" placeholder="DIGITE HORAS" type="number"
                  [(ngModel)]="actividadAsignada.horasAsignadas" />
              </div>
            </div>
          </div>
          <div class="form-group" style="text-align: right">
            <button class="btn btn-primary" (click)="addActividad()">
              Agregar
            </button>
          </div>
        </div>
      </div>

      <hr>

      <div>
        <app-consulta-tipo-actividad-asignada></app-consulta-tipo-actividad-asignada>
      </div>
    </div>
  </form>

</body>