<div class="row">
    <div class="col-6">
        <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Buscar">
    </div>
</div>
<hr>

<table class="table table-striped" *ngIf='docentes && docentes.length'>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Identificación</th>
            <th scope="col">Primer Nombre</th>
            <th scope="col">Primer Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Telefono</th>
            <th scope="col">Tipo Docente</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let docente of docentes | filtroDocente:searchText; index as i" (click)="seleccionar(docente)">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{docente.identificacion}}</td>
            <td>{{docente.primer_Nombre}}</td>
            <td>{{docente.primer_Apellido}}</td>
            <td>{{docente.email}}</td>
            <td>{{docente.telefono}}</td>
            <td>{{docente.tipo_Docente}}</td>
        </tr>
    </tbody>
</table>
