
<header class="home-area overlay" id="home_page">
  <div class="container">
      <div>
          <img src="./assets/ayudalogin/baner.png">
        </div>  
    <hr>
    <div class="row">
        
      <div class="col-xs-12 hidden-sm col-md-5">
        <figure class="mobile-image wow fadeInUp" data-wow-delay="0.2s">
          <img class="logo" src="./assets/imagenesComplemento/logotipo.png" alt="">
        </figure>
      </div>
      <div class="col-xs-12 col-md-7">

        <div class="space-80 hidden-xs"></div>
        <h1 class="wow fadeInUp" data-wow-delay="0.4s"><b>ACTIVIDADES COMPLEMENTARIAS</b></h1>
        <div class="space-20"></div>
        <div class="desc wow fadeInUp" data-wow-delay="0.6s">
          <p>APERTURAS DE FECHAS....</p>
          <br>
          <p>Las actividades complementarias son aquellas actividades didácticas cuyo objetivo es complementar la
            actividad habitual del aula,
            forman parte de la Programación docente y son coherentes con el Proyecto Educativo del Centro. Estas son de
            gran importancia al
            momento del crecimiento institucional, ya que de esta forma se están mejorando todos los procesos realizados
            por el docente.
          </p>
        </div>
        <div class="space-20"></div>
      </div>
    </div>
  </div>
</header>