
    <h1>Galería de imágenes con efecto lightbox solo con CSS</h1>
    
    <ul class="galeria">
        <li><a href="#img1"><img src="./assets/ayudalogin/login.png" ></a></li>
        <li><a href="#img2"><img src="./assets/ayudalogin/llenadoLogin.png" ></a></li>
        <li><a href="#img3"><img src="./assets/ayudalogin/Loguead.png" ></a></li>
        <li><a href="#img4"><img src="./assets/ayudalogin/homePage.png" ></a></li>
    </ul>

    <div class="modal" id="img1">
        <h3>Como se compone el login</h3>
        <div class="imagen">
            <a href="#img4">&#60;</a>
            <a href="#img2"><img src="./assets/ayudalogin/login.png" ></a>
            <a href="#img2"></a>
            <a href="#img2">></a>
        </div>
        <li  ><a href=""  class="cerrar" routerLink="/" class="botonesDerecha">Home</a></li>
    </div>
    
    <div class="modal" id="img2">
        <h3>como se llena el login</h3>
        <div class="imagen">
            <a href="#img1">&#60;</a>
            <a href="#img3"><img src="./assets/ayudalogin/llenadoLogin.png" ></a>
            <a href="#img3"></a>
            <a href="#img3">></a>
        </div>
        <li  ><a href="" routerLink="/HomePage" class="botonesDerecha">Home</a></li>
    </div>
    
    <div class="modal" id="img3">
        <h3>logueado </h3>
        <div class="imagen">
            <a href="#img2">&#60;</a>
            <a href="#img4"><img src="./assets/ayudalogin/Loguead.png" ></a>
            <a href="#img4"></a>
            <a href="#img4">></a>
        </div>
        <li  ><a href="" routerLink="/HomePage" class="botonesDerecha">Home</a></li>
    </div>
    
    <div class="modal" id="img4">
        <h3>home page</h3>
        <div class="imagen">
            <a href="#img3">&#60;</a>
            <a href="#img1"><img src="./assets/ayudalogin/homePage.png" ></a>
            <a href="#img1">></a>
            
 
        </div>
        <li  ><a href="" routerLink="/HomePage" class="botonesDerecha">Home</a></li>
    </div>